<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MaxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="MemoryGameServer.MemoryGameService">
        <endpoint contract="MemoryGameLogic.IMemoryGameService"
                  binding="netTcpBinding"
                  address="net.tcp://localhost:4524/" 
                  behaviorConfiguration="MaxBehavior"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>